<html>
  <head>
    <meta charset='utf-8' />
    <link
      href='https://unpkg.com/nes.css@2.3.0/css/nes.min.css'
      rel='stylesheet'
    />
    <title>App</title>
  </head>
  <body>
    {{message}}
    <br />

    <span class='nes-text is-primary'>Primary</span>
    <span class='nes-text is-success'>Success</span>
    <span class='nes-text is-warning'>Warning</span>
    <span class='nes-text is-error'>Error</span>
    <span class='nes-text is-disabled'>Disabled</span>

    <a class='nes-btn' href='#'>Normal</a>

    <button type='button' class='nes-btn is-primary'>Primary</button>
    <button type='button' class='nes-btn is-success'>Success</button>
    <button type='button' class='nes-btn is-warning'>Warning</button>
    <button type='button' class='nes-btn is-error'>Error</button>
    <button type='button' class='nes-btn is-disabled'>Disabled</button>

    <label class='nes-btn'>
      <span>Select your file</span>
      <input type='file' />
    </label>
  </body>
</html>